<h1>ユーザの一覧</h1>

<table>
  <tr>
    <th>名前</th>
  </tr>

<% for user in @users %>
  <tr>
    <td><%=h user.name %></td>
    <td><%= link_to '表示', user %></td>
    <td><%= link_to '編集', edit_user_path(user) %></td>
    <td><%= link_to '破棄', user, :confirm => '本当によいですか?',
                                  :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '新しいユーザ', new_user_path %>
