<h1>注文の一覧</h1>

<table>
  <tr>
    <th>名前</th>
    <th>住所</th>
    <th>Eメール</th>
    <th>支払い方法</th>
  </tr>

<% for order in @orders %>
  <tr>
    <td><%=h order.name %></td>
    <td><%=h order.address %></td>
    <td><%=h order.email %></td>
    <td><%=h order.pay_type %></td>
    <td><%= link_to '表示', order %></td>
    <td><%= link_to '編集', edit_order_path(order) %></td>
    <td><%= link_to '破棄', order, :confirm => '本当によいですか?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '新しい注文', new_order_path %>
