<p>
  <b>名前:</b>
  <%=h @order.name %>
</p>

<p>
  <b>住所:</b>
  <%=h @order.address %>
</p>

<p>
  <b>Eメール:</b>
  <%=h @order.email %>
</p>

<p>
  <b>支払い方法:</b>
  <%=h @order.pay_type %>
</p>


<%= link_to '編集', edit_order_path(@order) %> |
<%= link_to '戻る', orders_path %>
