<h1>商品の編集</h1>

<% form_for(@product) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :image_url %><br />
    <%= f.text_field :image_url %>
  </p>
  <!-- START_HIGHLIGHT -->
  <p>
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </p>
  <!-- END_HIGHLIGHT -->

  <p>
    <%= f.submit "更新" %>
  </p>
<% end %>

<%= link_to '表示', @product %> |
<%= link_to '戻る', products_path %>
