<div id="product-list">
  <h1>商品の一覧</h1>

  <table>
  <% for product in @products %>
    <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">

      <td>
        <%= image_tag product.image_url, :class => 'list-image' %>
      </td>

      <td class="list-description">
        <dl>
          <dt><%=h product.title %></dt>
          <dd><%=h truncate(product.description.gsub(/<.*?>/,''),
                 :length => 80) %></dd>
        </dl>
      </td>

      <td class="list-actions">
        <%= link_to '表示', product %><br/>
        <%= link_to '編集', edit_product_path(product) %><br/>
        <%= link_to '破棄', product, 
                    :confirm => '本当によいですか?',
                    :method => :delete %>
      </td>
    </tr>
  <% end %>
  </table>
</div>

<br />

<%= link_to '新しい商品', new_product_path %>
