<p>
  <b>タイトル:</b>
  <%=h @product.title %>
</p>

<p>
  <b>説明:</b>
<!-- START_HIGHLIGHT -->
  <%= @product.description %>
<!-- END_HIGHLIGHT -->
</p>

<p>
  <b>画像URL:</b>
  <%=h @product.image_url %>
</p>

<p>
  <b>価格:</b>
  <%=h @product.price %>
</p>

<%= link_to '編集', edit_product_path(@product) %> |
<%= link_to '戻る', products_path %>
