<h1>line_itemsの一覧</h1>

<table>
  <tr>
    <th>商品</th>
    <th>注文</th>
    <th>数量</th>
    <th>合計金額</th>
  </tr>

<% for line_item in @line_items %>
  <tr>
    <td><%=h line_item.product_id %></td>
    <td><%=h line_item.order_id %></td>
    <td><%=h line_item.quantity %></td>
    <td><%=h line_item.total_price %></td>
    <td><%= link_to '表示', line_item %></td>
    <td><%= link_to '編集', edit_line_item_path(line_item) %></td>
    <td><%= link_to '破棄', line_item, :confirm => '本当によいですか?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '新しいline_item', new_line_item_path %>
